.component {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
  overflow-x: scroll;
}

.years {
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.year {
  height: 100%;
  border-right: 1px solid hwb(203 66% 0% / 0.78);
}

.item {
  background-color: rgba(255, 221, 0, 0.385);
  border: 3px solid black;
}
