.component {
  border: 1px solid #fae6c6;
  padding: 6px 3px;
  border-radius: 4px;
  display: grid;
  grid-template-areas:
    "start start"
    "header header"
    "events events"
    "end end";
}

.header {
  font-size: 16px;
  font-weight: 600;
  grid-area: header;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  grid-area: content;
}

.start {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-area: start;
}

.end {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-area: end;
  text-align: right;
}

.image {
  width: 64px;
  height: 64px;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.date {
  font-size: 14px;
  font-weight: 400;
}

.events {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  overflow: scroll;
}

.event {
  font-size: 14px;
  font-weight: 400;
}
