.time-span-bar {
  border: 1px solid #fae6c6;
  padding: 12px 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.time-span-bar__content {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
