.component {
  padding: 6px 12px;
  display: grid;
  font-family: sans-serif;
  grid-template-areas:
    "start start"
    "header header"
    "events events"
    "end end";
}

.header {
  font-size: 16px;
  font-weight: 600;
  grid-area: header;
  margin: 12px 4px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  grid-area: content;
}

.start {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-area: start;
  font-weight: bold;
  font-size: 1.6em;
  padding: 4px 0;
  text-align: left;
}

.end {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-area: end;
  text-align: right;
  font-weight: bold;
  font-size: 1.6em;
  padding: 4px 0;
}

.image {
  width: 64px;
  height: 64px;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.date {
  font-size: 0.6em;
}

.events {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: top;
  overflow: scroll;
}

.event {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 90%;
  overflow-y: scroll;
  font-size: 0.5em;
  min-width: 80px;
}

.eventDate {
  font-size: 0.6em;
  font-weight: 400;
  background-color: #e8feff;
  padding: 2px 4px;
  border-radius: 4px;
}

.eventName {
  padding: 8px 4px;
  font-size: 0.6em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.eventLocation {
  font-size: 0.6em;
  display: none;
}

.eventImage {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
